* {
    margin:0;
    padding: 0;
}

:root{
    --primary-color:#ccc9dc;
    --secondary-color:#324a5f;
}
.dark_theme{
    --primary-color:#0c1821;
    --secondary-color:#ccc9dc;
}


body{
    background: var(--primary-color);
    text-align: center;
}
h1{
    padding-top: 30px;
    color: var(--secondary-color);
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
    font-size: 9vmin;
    color: var(--secondary-color);
}

#rst-btn{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    border-radius: 1rem;
}

#rst-btn:hover{
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    transition: 0.9s;
    color: var(--primary-color);
}

#msg{
    color: var(--secondary-color);
    font-size: 5vmin;
}
.msg-container{
    height: 27vmin;
}
.hide{
    display: none;
}
.dark-btn{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    align-items: left;
}

.dark-btn:hover{
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    transition: 0.9s;
    color: var(--primary-color);
}

    @media (max-width:500px) {
        .box{
            height: 120px; ;
            width: 120px;
            border-radius: 1rem;
            border: none;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
            font-size: 9vmin;
            color: var(--secondary-color);

        }

        .game{
            height: 60vmax;
            width: 60vmax;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1vmin;
        }
    }
        